.inputText{
    border-radius:7px;
    border: 2px solid #9DCDED;
    background-color: #D9ECF8;
    color: #385162;
    margin: 10px 15px;
    width: 80%;
    padding: 5px;
    &.Area{
        height: 100px;
    }
}
.inputFile{
  margin-left: 20px;
}
.inputSubmit{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #85C1E9;
    color: #ffffff;
    height:40px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        background-color: #5DADE2;
    }
}