.containerCharts{
    transition:none;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
}
.containerElementChart{
    width: 500px;
    margin:10px;
}